*,*::before,*::after{
    box-sizing: border-box;
}
html {
    height: 100%;
}
body{
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size:0.85rem;
    background:linear-gradient( hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    color: hsl(237, 12%, 33%);
}
h2{
    font-size: 1.7rem;
}
.container{
    width:92%;
    margin:10em auto;
    border-radius: 12px;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
    padding:0 0.7em;
}
.img-card{
    width:80%;
    position: absolute;
    top:1.5rem;
    background-image: url("images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 16rem auto;
}
.img-mob{
    width:90%;
}
.img-desk{
    display:none;
   
}
.img-online{
    display: none;
}
.row-1{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.content-card{
    padding-top: 7em;
}
.Q-A-content
{
    list-style: none;
    padding-left: 0;
}
.title{
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.8em;
}
.question{
    padding-bottom: 0.7em;
    border-bottom:1px solid hsl(240, 5%, 91%);
}
.question:hover{
    color:hsl(14, 88%, 65%);
    cursor: pointer;
}

.arrow-icon{
    transform: rotate(180deg);
    width:4%;
}
.arrow-icon:hover{
    cursor: pointer;
}
.answer{
    display:none;
}
.answer p{
    margin-top: 0;
    line-height: 1.5em;
    color:hsl(240, 6%, 50%);
}
.active{
    display:block;
}

@media(min-width:700px)
{
    body{
        font-size: 1.5rem;
    }
    .img-card{
        background-size: 30rem auto;
    }
    .arrow-icon{
        width:3%;
    }
    
}
@media(min-width:1000px)
{
    .img-card{
        background-size: 38rem auto;
    }
    .content-card{
        padding-top: 15em;
    }

}
@media(min-width:1200px)
{
   body{
       font-size:0.9rem;
   }
 
    .container{
        width:70%;
        padding:0;
        margin:9em auto;
    }
    .row{
        display: flex;
        justify-content: space-between;
    }
    .img-card{
        width:47%;
        position: relative;
        padding: 0;
        top:0;
        background-image: url("images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-size: 30.5rem ;
    }
    .img-mob{
        display: none;
    }
    .img-desk{
        width:120%;
        display:block;
        position: absolute;
        top:4rem;
        left: -5rem;
    }
    .img-online{
        display: unset;
        position: absolute;
        top:15rem;
        left: -3rem;
    }
    .content-card{
        padding:3.5em 0 4.6em 0;
        width:45%;
    }
    .Q-A-content{
        width:80%;
    }
    .title{
        text-align: unset;
        font-size: 2rem;
    }

}
